*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    width: 100%;
    background-color: blue;
    height: 100px; ;
    display:flex ;
    justify-content:space-between ;
    align-items: center;
}
.linkitem{
    text-decoration: none;
    margin-right:80px ;
    font-size:15px ;
    display: inline-block;
    transition:transform 1s;
}
.linkitem:hover{
    transform: scale(1.5);
}
img{
    height: 100px;
}
 .home{
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
 }
 .homecontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .homecontent>h1{
    margin-bottom: 10px;
    margin-left: 10px;
 }
 .homecontent>p{
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: justify;
 }
 .homecontent>a{
    margin: 30px;
    background-color: grey;
    width:fit-content;
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 800;
    border: 3px solid black;
    border-radius:10px ;
    box-shadow: 10px 10px black;

 }
 .homeimg{
    display: flex;
    flex-direction: column;
 }
.homeimg>img{
    height: 100vh;
}
.about{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}
.abtimg{
    display: flex;
    align-items: center;
}
.abtimg>img{
    height:70vh;
    margin-left: 30px;
}
.abtcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.abtcontent>h3{
    margin-bottom: 30px;
    color:chocolate;
    text-shadow: 4px 4px 4px black;
}
.abtcontent>p{
    text-align: justify;
    margin-bottom: 30px;
}

